name: CI

on: [push]

jobs:
  # macos:
  #   runs-on: macOS-latest

  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v1
  #     - name: Build and Test
  #       run: swift test

  linux:
    runs-on: ubuntu-latest

    container:
      image: swiftlang/swift:nightly-5.2-xenial

    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Build and Run
        run: swift run swift-doc Sources/SwiftDoc
