name: CI

on: [push]

jobs:
  macos:
    runs-on: macOS-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Build and Test
        run: swift test -c release
        env:
          DEVELOPER_DIR: /Applications/Xcode_11.4.app/Contents/Developer

  linux:
    runs-on: ubuntu-latest

    container:
      image: swift:5.2

    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Install System Dependencies
        run: |
          apt-get update
          apt-get install -y libxml2-dev
      - name: Build and Test
        run: swift test -c release --enable-test-discovery
