name: Release

on:
  push:
    tags:
      - "*.*.*"

jobs:
  release:
    name: Create a release on GitHub

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Get Changelog Entries
        id: changelog
        uses: mindsers/changelog-reader-action@v2
        with:
          version: ${{ github.ref }}
          path: ./Changelog.md
      - name: Create Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          body: ${{ steps.changelog.outputs.changes }}
          draft: false
          prerelease: false
